.navbar {
  padding: 10px;
  border-bottom: 2px solid #adb3b3;
  justify-content: space-between !important;
}
.navbar .logo img{
  height: 70px;
}
.right_nav {
  list-style: none;
  padding-right: 20px;
}
.right_nav li{
    display: inline-block;
    margin-right: 20px;
}
.right_nav li .dropdown .btn{
  color: #333;
  background-color: transparent;
  border: none;
  
}
.right_nav li .dropdown .btn:hover,.right_nav li .dropdown .btn:focus{
  color: #333;
  background-color: transparent;
  border: none;
  box-shadow: none
}
.right_nav li .dropdown-toggle:after{
  display: none;  
}
.right_nav li .user_logo{
    font-size: 31px;
    font-weight: bold;
    position: relative;
    top: 4px;
    margin-left: 15px;
    color: #fff;
}
.right_nav li .user_logo:after{
    content: '';
    display: inline-block;
    background-color: #b6cfd0;
    padding: 2px 10px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    position: absolute;
    right: -23px;
    z-index: -2;    
}
.mobile_menu{
  display: none;
  float: right;
  position: relative;
  top: -15px;
  cursor: pointer;
  background-color: rgb(14, 112, 124);
}
.dropdown-menu.show{right: 0;left: unset;margin-top: 40px;padding: 2px;background-color: rgb(14, 112, 124);}
.mobile_menu .dropdown-toggle,
.mobile_menu .dropdown-toggle:active,
.mobile_menu .dropdown-toggle:before,
.mobile_menu .dropdown-toggle:after{
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  height: 5px;
  width: 40px;
  border-radius: 4px;
  padding: 4px;
  background-color: rgb(14, 112, 124) !important;
  box-shadow: none !important;

}
.mobile_menu .dropdown-toggle:before{
  top: 25px; 
  content: ''
}
.mobile_menu .dropdown-toggle:after{
  top: 13px; 
  content: '';
  border: none
}
.lvl1{
  background-color: #fff;
  color: #333;
  margin: 1px 0;
}
.lvl2{
  background-color: rgb(14, 112, 124);
  color: #fff;
  margin: 1px 0;
}
.lvl3{
  background-color: rgb(95,152,159);
  color: #fff;
}

@media all and (max-width: 540px){
  .navbar .right_nav{
    display: none
  }
  .mobile_menu{
    display: inline-block;
  }
}
