* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
.body_content {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}
.body_content .sidebar {
  flex: 0 0 15%;
  width: 15%;
  background-color: rgb(14, 112, 124);
}
.body_content .sidebar.second {
  background-color: rgb(95,152,159)
}
.body_content .content {
  flex: 0 0 85%;
  width: 85%;
}
.sidebar_list {
  background-color: rgb(14, 112, 124);
  text-align: right;
}
.sidebar_list .nav-item {
  /* padding: 20px; */
  cursor: pointer;
}
.sidebar_list .nav-item a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px 10px 10px;
  border-radius: 0;
}
.sidebar_list .nav-item a.active {
  background-color: #8dc1c7;
}
.sidebar_list.second .nav-item a.active {
  background-color: #b6cfd0;
}

@media all and (max-width: 540px){
  .body_content .content{
    flex: 0 0 100%;
    width: 100%;
  }
  .body_content .sidebar {
    display: none
  }
}