@font-face {
  font-family: 'questrial';
  src: url(/fonts/Questrial/Questrial-Regular.ttf);
}
body {
  margin: 0;
  font-family: 'questrial',  sans-serif;
  -webkit-font-smoothing: 'questrial';
  -moz-osx-font-smoothing: 'questrial';
}
